.CardsView-ShopCard {
  display: inline-block;

  margin: 25px;
  padding: 20px;
  width: 200px;

  text-align: center;

  box-shadow: 1px 4px 10px var(--color-shadow);
  background-color: var(--color-content-background);
}

.CardsView-ShopCardTitle {
  margin-bottom: 8px;

  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
}

.CardsView-ShopCardSubtitle {
  display: block;

  color: var(--color-secondary);
  font-size: 14px;
  text-align: center;
}

.CardsView-ShopCardImage {
  height: 120px;

  background-size: cover;
  background-position: bottom;
}

.CardsView-ShopCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CardsView-ShopCardPrice {
  color: var(--color-highlight);
}
