:root {
  --color-highlight: #c74938;
  --color-content-background: #f5f5f5;
  --color-shadow: #999;
  --color-secondary: #a09f9e;
  --color-page-background: #fff;
}

.App {
  font-family: 'Open Sans Condensed', 'Verdana', sans-serif;
}
